@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Exo:800|Fredoka+One');

body{
  /* background:linear-gradient(#66ccff, #9966ff, #ff99cc); */
  /* background-color: #424242; */
  background-color: #3e8cee;
  height:auto;
  margin-bottom: 0px;
  margin-bottom: 10px;
}

/*estilos de index.php*/
.arriba1{
  padding: 35px;
  font-size: 40px;
  width: 130px;
  border-radius: 10px;
  background-color: #9966ff;
  position: relative;
  right: -4px;
  color: #fff

}
.arriba2{
  padding: 35px;
  font-size: 40px;
  width: 130px;
  border-radius: 10px;
  background-color: #66ccff;
  position: relative;
  left: 1px;
  color: #fff

}
.centro{
  width: 80px;
  font-size: 40px;
  background-color: #ff99cc;
  height: 80px;
  text-align: center;
  border-radius: 50px;
  border: 7px solid;
  border-color: #fff;
  z-index: 1000;
  position: relative;
  top:-160px;
  color: #fff
}

.abajo1{
  padding: 35px;
  font-size: 40px;
  margin-right:5px;
  border-radius: 10px;
  width: 130px;
  background-color: #ff6666;
  color: #fff
}
.abajo2{
  padding: 35px;
  font-size: 40px;
  margin-left: -10px;
  border-radius: 10px;
  width: 130px;
  background-color: #ff9933;
  text-align: center;
  color: #fff

}

.botonera{
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.logo{
  margin-top: 3%;
  margin-bottom: 5vh;
}
.icon-enlace{
  color: #fff;
}

/*estilos del header*/

.logo{
  text-align: center;
  margin-top:20px;
}

.icon-menu{
  margin-top: 25px;
  margin-right: 20px;
  margin-left: 20px;
  display: block;
  color: #fff;
  font-size: 35px;
  float: left;
  cursor: pointer;
}

.nav{
  text-align: center;
  margin-top: 80px;
  margin-right: 30px;
  height: 755px;
  position: absolute;
  text-align: center;
  top: 0;
  left: -100%;
  width: auto;
  background-color: rgb(51, 102, 153,0.9);
  transition: all 0.4s;
  z-index: 1000;
  padding-right:35px;
}

.menu{
  list-style: none;
}

a{
  color: #fff;
}

.menu_link{
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
}

.mostrar{
  left: 0;
}

a:hover{
  color: #000;
  text-decoration: none;
}

.header{
  background-color: #336699;
  width: 100%;
  display: inline-block;
}

.icono{
  padding-top: 5px;
}

.icono2{
  margin-left: 135px;
  padding-top: 5px;
}

/*estilos de ruleta*/

.ruleta{
  text-align: center;
  margin-top: 80px;
}

.selector{
  font-size: 25px;
}

/*estilos de preguntas.php*/

.cartelera{
  font-size: 60px;
  text-align: center;
  margin-top: 80px;
  color: #000;
}

.categoria{
  background-color: rgb(232, 226, 225);
}

.pregunta{
  margin-left: 7vh;
  margin-right: 7vh;
  background-color: #f6f5f5;
  border-radius: 5px;
}

.texto_pregunta{
  font-weight: bold;
  font-size: 20px;
  margin: 2px;
}

.pregunta .jumbotron{
  text-align: center;
  font-family: 'Open Sans' , sans-serif;
  height: 100%;
  border-radius: 5px;
  margin-bottom: auto;
}

.opciones{
  margin-left: 7vh;
  margin-right: 7vh;
  text-align: center;
  display: block;
}

.btn-opcion{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-opcion:hover{
  background-color: rgb(210, 191, 191);
}

.reloj{
  text-align: center;
  margin-top: 15px;
}

.cont{
  font-family: 'Open Sans' , sans-serif;
  color: #fffffa;
}

.respuesta{
  background-color: #fff;
  margin: 5%;
  border-radius: 5pc;
}

.incorrecto{
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
  margin-top: 20px;
  color: #cd3231;
  font-weight: bold;

}

.correcto{
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
  margin-top: 20px;
  color: green;
  font-weight: bold;
}


.vida{
  color: #fff;
  margin-top: 10px;
  font-size: 25px;
  margin-right: 35px;
  padding: 5px;
  margin-top: 15px;
  font-weight: bold;
  font-style: oblique;
}

.contadorPregunta{
  color: #fff;
  font-size: 20px;
}

.header-logo{
  float: right;
}

.fila_preguntas{
  margin-top: 5%;
}

.fila_preguntas{
  margin-top: 5%;
}

.input_duda{
  margin-top: 2%;
}


.enlace_pregunta{
  color: #000;
}

.enlace_pregunta:hover{
  color: #fff;
}

.btn-buscar{
  margin-top: 10px;
}

.form{
  height: 100%;
  padding: 30px;
}


.btn-confirmar{
  background-color: #fff;
  margin: 50px;
  color: #9932cc;
  text-align: center;
}
.con{
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.masinfo{
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
  padding: 15px 25px;
  width: 60%;
  text-align: center;
}

.reportar{
  float: right;
  margin-right: 40vh;
  margin-top: 10px;
}

@media(max-width:774px)
{
  .masinfo{
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 25px;
    width: 90%;
    text-align: center;
  }


  .boton{
    font-size: 30px;
    color:#FFF;
    margin-top: 2%;
    border-style: solid;
    border-color: #000;
    font-weight:bolder;
  }

  .reportar{
    float:right;
    margin-right:3vh;
  }

}
